{% extends "base.html" %}
{% block content %}
        <section class = "services sec-width" id = "services">
            <div class = "title">
                <h1>services</h1>
            </div>
            <div class = "services-container">
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-utensils"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Salon Bar et Restaurants</h2>
                        <p>Pour le plaisir culinaire, le Riad lamane propose un restaurant-tente berbère et un autre restaurant avec cheminée pour le petit déjeuner ou le dîner. Nous préparons des spécialités marocaines et berbères au plus haut niveau culinaire. Pour rencontrer des amis ou de la famille, le Riad lamane offre un bar avec une atmosphère chaleureuse. Vous pourrez déguster nos spécialités marocaines et des boissons à l’intérieur ou à l’extérieur sur les terrasses.</p>
                    </div>
                </article>
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-swimming-pool"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Rafraîchissement</h2>
                        <p>Un jardin avec piscine, des allées qui s’élancent entre des parterres de fleurs,  des jardins luxuriants qui jouxtent des traversées désertiques, des bouquets de palmiers, des pontons de bois qui franchissent de ravissants cours d’eau.</p>
                    </div>
                </article>
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-broom"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Entretien ménager</h2>
                        <p>En tant que service complet, nous offrons également à nos clients la livraison complète du linge, intégrée dans le nettoyage de la pièce. Pour vous, cela signifie un allègement supplémentaire du travail, des économies supplémentaires, puisque vous ne devez payer que si un revenu est généré.</p>
                    </div>
                </article>
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-door-closed"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Sécurité de la chambre</h2>
                        <p>Les lieux de sommeil sont soumis à une réglementation stricte concernant la construction des locaux. Afin d’assurer la sécurité dans les établissements recevant du public, la conception des chambres permet de restreindre les risques d’incendies, alerter les occupants par des alarmes installées lorsqu’un problème survient afin d’évacuer dans les meilleures conditions possibles et de faciliter l’intervention des secours, ainsi les couloirs sont équipés par des caméras de surveillance pour assurer un séjour sécurisé à nos clients.</p>
                    </div>
                </article>
                
            </div>
        </section>

       <div class = "image">
          
        </div>

        <section class = "rooms sec-width" id = "chambre">
            <div class = "title">
                <h1>chambres</h1>
            </div>
            <div class = "rooms-container">
                
                <article class = "room">
                    <div class = "room-image">
                        <img src = "static/images/suite_royale.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Suites Royale</h3>
                        <p>  Notre suite royale donne sur la piscine et la tente du restaurant. Cette suite est construite et décorée par des artisans locaux selon la tradition marocaine et africaine. Cette vaste suite  a une douche avec WC séparé, minibar, salon séparé, télévision, accès WiFi gratuit et climatisation.</p>
                        <p class = "rate">
                            <span>249€ /</span> Par Nuit
                        </p>
                        <a href="http://www.booking.com/Share-tg1qhD"><button  type = "button" class = "btn">Reserve maintenant</button> </a>
                    </div>
                </article>
                <article class = "room">
                    <div class = "room-image">
                        <img src = "static/images/african.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Lodges Africains</h3>
                        <p>  Au cœur de la palmeraie, sur 3 hectares, 8 luxueuses éco-tentes africaines sont aménagées pour vous. Elles sont toutes équipées d’un lit double, d’un minibar, d’une douche, d’une toilette et d’une terrasse privée. Ici, le Riad lamane vous offre à la fois beaucoup de belles possibilités de retraite dans la nature ainsi que des lieux pour des rencontres. Dans cette oasis, vous pourrez profiter de vacances inoubliables en famille ou entre amis.</p>
                        
                        <p class = "rate">
                            <span>199€ /</span> Par Nuit
                        </p>
                        <a href="http://www.booking.com/Share-tg1qhD"><button  type = "button" class = "btn">Reserve maintenant</button> </a>
                    </div>
                </article>
                <article class = "room">
                    <div class = "room-image">
                        <img src = "static/images/Lodgesberberes1.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Lodges Berbères</h3>
                        <p>  Riad lamane vous offre la tranquillité désirée dans nos luxueuses lodge berbères. Toutes sont équipées de WC, minibar, douche et air conditionné. Nos lodge berbères de luxe sont arrangées autour d’un jardin séparé de sorte que vous puissiez apprécier l’exotique et la beauté du Riad lamane avec des amis ou la famille. </p>
                        <p class = "rate">
                            <span> 149€/</span> Par Nuit
                        </p>
                        <a href="http://www.booking.com/Share-tg1qhD"><button  type = "button" class = "btn">Reserve maintenant</button> </a> 
                      
                    </div>
                </article>
                <article class = "room">
                    <div class = "room-image">
                        <img src = "static/images/mini_suite.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Mini-Suites</h3>
                        <p>Nos Mini-suites sont situés dans le jardin, donnant sur la piscine. Dégustez un verre, un thé ou un tajine sur l’une de nos terrasses ombragées. Les Mini-suites détachés sont construites en briques de boue. Elles sont construites et décorées par des artisans locaux selon la tradition marocaine et africaine. Nous avons des Mini-suites pour 2 personnes et plus. Tous nos Mini-suites sont équipées de douches et WC séparés, minibar et climatisation. 3 points WiFi gratuits sont disponibles dans le Riad lamane. </p>
                        <p class = "rate">
                            <span> 99€/</span> Par Nuit
                        </p>
                        <a href="http://www.booking.com/Share-tg1qhD"><button  type = "button" class = "btn">Reserve maintenant</button> </a> 
                      
                    </div>
                </article>
            </div>
        </section>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
             <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="static/images/riad1.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="static/images/riad2.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="static/images/riad3.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="static/images/riad4.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="static/images/riad5.jpg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <section class = "customers" id = "clients">
            <div class = "sec-width">
                <div class = "title">
                    <h1>clients</h1>
                </div>
                <div class = "customers-container">
                    <div class = "customer">
                        <div class = "rating">
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <h3>Nous L'avons Aimé</h3>
                        <p>Le personnel tres tres gentil et accueillant
                            Le service irréprochable
                            La décoration et l l'entretien des jardins magnifiques</p>
                        <img src = "static/images/client3.png" alt = "customer image">
                        <i class="flag flag-france"></i>
                        <span>Paolo</span>
                    </div>
                    <div class = "customer">
                        <div class = "rating">
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                        </div>
                        <h3>Vie Confortable</h3>
                        <p>Cadre magnifique, bungalow très agréable, personnel adorable. Une belle adresse dans la palmeraie.</p>
                        <img src = "static/images/client2.png" alt = "customer image">
                        <span>Johanna</span>
                    </div>
                    <div class = "customer">
                        <div class = "rating">
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <h3>Nice Place</h3>
                        <p>Beautiful peaceful gardens filled with birds. Amazing rooms. Great atmosphere. Interesting neighbourhood.</p>
                        <img src = "static/images/client0.png" alt = "customer image">
                        <span>Beatriz</span>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}